<%= simple_form_for(task) do |f| %>

  <%= f.input :title, placeholder: 'Name of volunteering opportunity (e.g. "Food delivery for senior citizens")'%>
  <%= f.input :description, placeholder: 'Tell us more about it!'%>
  <%= f.input :skills, placeholder: '(e.g. Befriending, driving, photography)' %>
  <%= f.input :address, placeholder: 'Where should your volunteers meet?' %>
  <%= f.input :country %>
  <%= f.input :start_date %>
  <%= f.input :end_date  %>
  <%= f.input :start_time %>
  <%= f.input :end_time  %>
  <%= f.input :no_of_volunteers_needed, placeholder: '(e.g. 5)'  %>
  <%= f.input :images, as: :file, wrapper: :vertical_file_input, class: "btn btn-primary" %>
  <p><i> Upload a picture to help tell your story! (Psst, you may get more volunteers!) </i></p>
  <%= f.button :submit, class: "btn btn-primary"%>
<% end %>
