<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">  <!-- adding bootstrap form-group formatting-->
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :categories %>
    <%= f.text_field :categories, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :skills %>
    <%= f.text_field :skills, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :images %>
    <%= f.text_field :images %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
