<div class="container">
  <div class="jumbotron"><h2>Do something today.</h2></div>
  <div class="row">
    <% @tasks.each do |task| %>
      <div class="col-sm-3 grid">
        <!-- <p><%= task.images %><p> -->
        <p><%= image_tag "https://unsplash.it/300/300" %><p>
        <h2><%= link_to task.title, task %></h2>
        <p><%= task.description %></p>
        <p><%= task.categories %><p>
        <p><%= task.skills %><p>
        <div class="btn-group">
          <%= link_to like_task_path(task), method: :put, class: "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-triangle-top"> </span>
            Upvote
            <% if task.get_upvotes.size > 0 %>
              <%= task.get_upvotes.size %>
            <% end %>
          <% end %>
          <!-- <%= link_to dislike_task_path(task), method: :put, class: "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-triangle-top"></span>
            Downvote
            <%= task.get_downvotes.size %>
          <% end %> -->

        </div>
        <small class="author">Submitted <%= time_ago_in_words(task.created_at) %> ago User.where(Task(params[:id]))</small>
      </div>
      <% end %>
  </div>
</div>
