<% @tasks.each do |task| %>
  <div class="link row clearfix">
    <h2><%= link_to task.title, task %></h2>
    <h3><%= task.description %></h3>
    <p><%= task.categories %><p>
    <p><%= task.skills %><p>
    <p><%= task.images %><p>
    <small class="author">Submitted <%= time_ago_in_words(task.created_at) %></small>
  </div>
<% end %>
